<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS EXTERNO</title>
    <link rel="stylesheet" href="/public/css/externo.css">
</head>
<body>
    <h1>FORMULARIO DE CONTACTO 2025</h1>
    <hr>
    <br>
    
    <label>Email:</label>
    <br>
    <input type="text" placeholder="correo@ejemplo.com">
    
    <br>
    <label>Mensaje:</label>
    <br>
    <textarea placeholder="Escriba su mensaje"></textarea>
    
    <br>
    <label>Ciudad:</label>
    <br>
    <select>
        <option>Quito</option>
        <option>Guayaquil</option>
        <option>Cuenca</option>
    </select>
    
    <br>
    <label>Suscribirse:</label>
    <input type="checkbox">
    
    <br>
    <label>Tipo:</label>
    <input type="radio" name="tipo"> Cliente
    <input type="radio" name="tipo"> Proveedor
    
    <hr>
    <br>
    
    <button class="boton-enviar">ENVIAR</button>
    <button id="boton-limpiar">LIMPIAR</button>
</body>
</html>
